{
  "presets": ["babel-preset-react-native-stage-0/decorator-support"],
  "plugins": [
    "lodash",
    "react-require",
    "functional-hmr",
    [
      "module-resolver",
      {
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "@": "./"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV", "API_URL", "CDN_URL"]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
